@import "src/utils/variables";

.calendar-export-container {

    .week-navigation-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 80%;
        margin-left: 300px;
    
        @media screen and (max-width: 1400px) {
            width: 70%;
        }
        
        .week-navigation-holder{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 8px 18px;
            padding-top: 12px;
            border-radius: 12px;
            background-color: $rose;
            width: 180px;
            z-index: 3;
            font-family: $font;
            font-weight: 600;
    
            .top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .calendar-navigation-container{
                    cursor: pointer;
                    height: 22px;
                    display: flex;
                    align-items: flex-end;
                }
            }
    
            .bottom{
                font-weight: 600;
                font-size: 0.7em;
                color: grey;
            }
            
            .react-datepicker__input-container{
                display: none;
            }
        }
    }
    
    .add-action-btn-container{
        position: absolute;
        height: 38px;
        top: 20px;
        left: 320px;
        display: flex;
        align-items: center;
    }
    
    .calendar-center-container{
        position: absolute;
        width: 80%;
        left: 300px;
        height: 90%;
    
        @media screen and (max-width: 1400px) {
            width: 70%;
        }
    }
    
    .popup-halo{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: all 0.3s ease-out;
    
        &--toggled{
            opacity: 0.75;
            z-index: 2;
        }
    }
    
    .popup-container{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}