@import "src/utils/variables";

.operation-card-container {
    margin-top: 4px;
    flex: 0 1 auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 24px;
    background-color: white;
    width: 180px;
    height: 260px;
    margin-right: 20px;
    margin-bottom: 20px;

    .op-card-title {
        @include title;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }

    .op-card-desc {
        margin-bottom: 24px;
        white-space: pre-wrap;
    }

    .op-card-amos {
        .op-card-amo {
            margin-bottom: 8px;
        }
    }
}