.day-container {
    width: 140px;
    height: 140px;

    .event-day-container {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 8px;
    }
}