@import "src/utils/variables";

.day-month-master-1-container {
    position: relative;
    width: calc(100%/8);
    height: 180px;
    border-left: solid 1px $beige;
    padding: 0px 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    
    &--today {
        background-color: $rose;
    }

    &--weekend {
        background-color: $disabled;
    }

    .event-day-container {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 8px;
        padding: 4px 8px;
        margin-bottom: 4px;
    }

    .top-day {
        display: flex;
        padding-top: 4px;
        justify-content: space-between;

        .add-icon {
            cursor: pointer;
        }
    }
}