@import "src/utils/variables";

.hours-container {
    position: absolute;
    width: 30px;
    height: calc(90% + 14px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: -42px;
    transform: translateY(-7px);
    font-family: $font;
    font-size: 0.8em;
    font-weight: 500;
    color: grey;
}