@import "src/utils/variables";

.calendar-center-offDays-container {
    position: absolute;
    width: 80%;
    left: 300px;
    border-radius: 12px;
}

.months-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}