.single-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .checkbox{
        cursor: pointer;
        margin-right: 28px;
        margin-left: 28px;
    }

    .labels, .boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .labels {
        width: calc(100% - 240px);
        padding-right: 20px;
        margin-bottom: 4px;
    }

    .boxes {
        /* padding-right: 12px; */
        width: 100%;
    }

    .name {
        width: 200px;
    }
}