@import "src/utils/variables";

.rdv-acq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 120px;
    color: $rose;

    .welcome-text-title {
        font-weight: bold;
        margin-bottom: 4px;
        font-size: 24px;
    }

    .privacy-link {
        margin-bottom: 12px;

        a {
            position: relative;
            overflow: hidden;
            text-decoration: none;
            color: $rose;
            &::after {
                content: "";
                background: rgba(#43d8c9, 0.25);
                position: absolute;
                left: 12px;
                bottom: -6px;
                width: calc(100% - 8px);
                height: calc(100% - 8px);
                z-index: -1;
                transition: 0.45s cubic-bezier(0.25, 0.1, 0, 2.05);
            }
            &:hover:after {
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 100%;
            }
        }
    }

    .email-taken {
        color: $red;
        width: 300px;
        text-align: center;
        font-size: 14px;
        padding-top: 4px;
    }

    .validation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-top: 28px;
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: bold;
    }

    .client-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .formats-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .format-container {
            display: flex;
            border-radius: 5px;
            line-height: 32px;
            padding: 0 12px;
            cursor: pointer;

            &--selected {
                border: solid 1px $rose;
                background-color: #43d8c9;
            }
        }
    }

    .boxes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;

        .day-boxes {
            padding: 24px 100px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .day-box {
            cursor: pointer;
            width: 200px;
            border: solid 1px $rose;
            border-radius: 5px;
            line-height: 32px;
            padding: 0 12px;
            margin: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba($rose, 0.2);
    
            &--selected {
                background-color: #43d8c9;
            }

            &--disabled {
                //background-color: rgba($darker-grey, 0.2);
            }
        }
    }

    .orchestra-logo {
        position: absolute;
        width: 320px;
        top: 20px;
        left: calc(100vw/2 - 165px);
    }
}