.months-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.totals-container {
    width: 100%;
}
.orchestra-logo-monthly {
    position: absolute;
    width: 210px;
    top: 0px;
    left: -10px;
    z-index: 4;
}