@import "src/utils/variables";

.editable-label-input {
    width: 300px;
    border: solid 1px $rose;
    background-color: #ffffff;
    border-radius: 5px;
    line-height: 32px;
    padding: 0 12px;
    margin-top: 12px;
}

.editable-label-description{
    width: 300px;
    border: solid 1px $rose;
    background-color: #ffffff;
    border-radius: 5px;
    line-height: 32px;
    padding: 0 12px;
    margin-top: 12px;
    height: 100px;
    resize: none;
    font-family: $font;
}