@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);

$rose: #f6e5f5;
$light-rose: #fbf4f9;
$beige: #f6e7e6;
$blue: #b9cced;
$light-blue: #43d8c9;
$card-color: #dae1e7;
$dark-rose: #f96d80;

$font: 'Nunito', sans-serif;