@import "src/utils/variables";

body {
  margin: 0;
}

.notification {
  font-family: $font !important;
  border-radius: 12px;
  box-shadow: none !important;

  &-success {
    background-color: $light-blue !important;
  }
  &-error {
    background-color: $dark-rose !important;
  }
}