@import "src/utils/variables";

.operation-totals-display-container{
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .total-container {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .name-container {
        margin-right: 20px;
        margin-top: 12px;
        width: 300px;
    }

    .btn-container {
        margin-top: 12px;
    }
    
    .editable-label-input {
        width: 30px;
    }

    .auto-total {
        margin-right: 8px;
        padding-top: 10px;
    }

    .ca-info {
        margin-left: 8px;
        padding-top: 10px;
    }
}