@import "src/utils/variables";

.col-container {
    position: absolute;
    width: 20%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .col-holder{
        position: absolute;
        width: 90%;
        height: 100%;
        background-color: rgba($rose, 0.3);
        border-radius: 8px;

        &--today{
            background-color: rgba($light-blue, 0.3);
        }

        .event-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            .event-holder{
                cursor: pointer;
                border-radius: 8px;
                width: 95%;
                height: 100%;
                background-color: $card-color;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .custom-scrollbars  > div:last-child {
                    opacity: 0;
                    transition: opacity 200ms ease;
                }
                
                .custom-scrollbars:hover > div:last-child {
                    opacity: 1;
                }

                .event-holder-2{
                    height: 95%;
                    width: 85%;
                    font-family: $font;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .event-author{
                        flex: 0 1 auto;
                        font-weight: 600;
                    }
                    .event-description{
                        flex: 1 1 auto;
                        font-size: 0.9em;
                        margin: 12px 0px;
                        flex-shrink: 1;
                    }
                    .event-recipients{
                        flex: 0 1 auto;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}

.event-popup-container{
    width: 600px;
    height: 400px;
    z-index: 3;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    opacity: 1;
}